body {
    font-family: "Comfortaa",
        roboto,
        "Segoe UI",
        system-ui,
        -apple-system,
        blinkmacsystemfont,
        "Helvetica Neue",
        arial,
        sans-serif,
        "Segoe UI Emoji";
    //font-size: 18px;
    font-size: 1.15rem;
}

h1 {
    color: #093944;
    font-weight: 700;
}

h1::after {
    content: '';
    display: block;
    margin-top: 0.10rem;
    margin-bottom: 1.25rem;
    /*
    height: 6px;
    //border: 4px solid #44091c;
    //border-radius: 50%;
    background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 3px, transparent 3px) 0% 0%/8px 8px no-repeat,
        radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 3px, transparent 3px) 100% 0%/8px 8px no-repeat,
        radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 3px, transparent 3px) 0% 100%/8px 8px no-repeat,
        radial-gradient(circle at 0 0, #ffffff 0, #ffffff 3px, transparent 3px) 100% 100%/8px 8px no-repeat,
        linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 10px) calc(100% - 16px) no-repeat,
        linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 16px) calc(100% - 10px) no-repeat,
        linear-gradient(90deg, #093944 0%, #a3ccd1 65%, transparent 100%);
    border-radius: 50%;
    padding: 9px;
    box-sizing: border-box;
    */
    border: 0px solid rgba(100, 100, 100, 1);
    border-radius: 4px;
    background: linear-gradient(90deg, #093944 0%, #a3ccd1 65%, transparent 100%);
    background-blend-mode: normal;
}

.breadcrumb-nav a {
    color: #44091c;
}

.breadcrumb-nav a:hover {
    color: #330512;
}

.aux-nav > a.site-button {
    color: #44091c;
}

.aux-nav > a.site-button:hover {
    color: #ffffff;
}